In [1]:
import os
import pyreadr

In [2]:
# Set the working directory
os.chdir("/research/groups/greengrp/home/spoudel1/GreenLab_Projects/Caitlin/Figure4_03182025_all_cohorts/panelB_F")

# Load the gene_expr_df.Rda file
result_gene_expr = pyreadr.read_r("gene_expr_df.Rda")
# If the .Rda file contains a single object, extract it like this:
gene_expr_df = result_gene_expr[next(iter(result_gene_expr))]
# print("Loaded gene_expr_df with objects:", list(result_gene_expr.keys()))

In [3]:

# Load the TCGA.PANCAN.sample_type.df.Rda file
result_sample_type = pyreadr.read_r("/research_jude/rgs01_jude/groups/greengrp/home/spoudel1/GreenLab_Projects/Caitlin/Figure4_03182025_all_cohorts/fetch_tcga/tcga_data/TCGA.PANCAN.sample_type.df.Rda")
TCGA_PANCAN_sample_type_df = result_sample_type[next(iter(result_sample_type))]
# print("Loaded TCGA.PANCAN.sample_type.df with objects:", list(result_sample_type.keys()))

In [8]:
gene_expr_df

           PRF1      GZMA      Sample_name
0     -2.474302 -3.265196  TCGA-61-1910-01
1     -1.649002 -0.974496  TCGA-61-1728-01
2     -0.644402  0.643004  TCGA-09-1666-01
3     -0.586202  0.106604  TCGA-24-1469-01
4      1.091298  1.643104  TCGA-04-1348-01
...         ...       ...              ...
12719  1.507098  3.200704  TCGA-AA-3489-11
12720 -1.664802  0.779804  TCGA-DM-A1D4-01
12721 -1.020902 -0.451296  TCGA-QG-A5YV-01
12722 -0.373402  1.047504  TCGA-CA-5796-01
12723 -0.749702 -0.346496  TCGA-G4-6626-01

[12724 rows x 3 columns]

In [7]:
len(gene_expr_df.Sample_name.unique())

10459

In [10]:
len(TCGA_PANCAN_sample_type_df.Sample_name.unique())

12804

In [11]:
TCGA_PANCAN_sample_type_df.shape

(12804, 4)

In [12]:
# Check for duplicate rows based on the "Sample_name" column
duplicates = gene_expr_df[gene_expr_df.duplicated(subset='Sample_name', keep=False)]
print("Duplicate records based on 'Sample_name':")
print(duplicates)

Duplicate records based on 'Sample_name':
           PRF1      GZMA      Sample_name
914   -2.870402 -2.856196  TCGA-E1-5319-01
915   -1.675502 -2.526296  TCGA-HT-7693-01
916   -0.716702 -0.515996  TCGA-CS-6665-01
917   -3.918302 -4.492796  TCGA-S9-A7J2-01
918    0.038398  0.326104  TCGA-FG-A6J3-01
...         ...       ...              ...
12719  1.507098  3.200704  TCGA-AA-3489-11
12720 -1.664802  0.779804  TCGA-DM-A1D4-01
12721 -1.020902 -0.451296  TCGA-QG-A5YV-01
12722 -0.373402  1.047504  TCGA-CA-5796-01
12723 -0.749702 -0.346496  TCGA-G4-6626-01

[4530 rows x 3 columns]

In [13]:
# Alternatively, you can also see the count of duplicates for each sample:
duplicate_counts = gene_expr_df['Sample_name'].value_counts()
duplicate_counts = duplicate_counts[duplicate_counts > 1]
print("\nDuplicate counts per 'Sample_name':")
print(duplicate_counts)

Duplicate counts per 'Sample_name':
TCGA-D5-6531-01    2
TCGA-22-5474-01    2
TCGA-86-8669-01    2
TCGA-22-5485-01    2
TCGA-91-6829-01    2
                  ..
TCGA-CS-6186-01    2
TCGA-DH-5141-01    2
TCGA-TQ-A7RN-01    2
TCGA-DH-5142-01    2
TCGA-HW-8321-01    2
Name: Sample_name, Length: 2265, dtype: int64

In [14]:
gene_expr_df[gene_expr_df['Sample_name'] == "TCGA-D5-6531-01"]

           PRF1      GZMA      Sample_name
1958  -0.110328  5.056897  TCGA-D5-6531-01
12541  1.220498  0.627804  TCGA-D5-6531-01

In [5]:
# Set the working directory

# Load the gene_expr_df.Rda file
result_gene_expr = pyreadr.read_r("/research_jude/rgs01_jude/groups/greengrp/home/spoudel1/GreenLab_Projects/Caitlin/publish_fig/tcga_data/gene_expr_df.Rda")
# If the .Rda file contains a single object, extract it like this:
gene_expr_df = result_gene_expr[next(iter(result_gene_expr))]
# print("Loaded gene_expr_df with objects:", list(result_gene_expr.keys()))

In [6]:
# Check for duplicate rows based on the "Sample_name" column
duplicates = gene_expr_df[gene_expr_df.duplicated(subset='Sample_name', keep=False)]
print("Duplicate records based on 'Sample_name':")
print(duplicates)

Duplicate records based on 'Sample_name':
Empty DataFrame
Columns: [PRF1, GZMB, Sample_name]
Index: []

In [7]:
gene_expr_df

           PRF1      GZMB      Sample_name
0     -2.474302 -2.402249  TCGA-61-1910-01
1     -1.649002 -0.335749  TCGA-61-1728-01
2     -0.644402  0.137751  TCGA-09-1666-01
3     -0.586202  1.163251  TCGA-24-1469-01
4      1.091298  2.627951  TCGA-04-1348-01
...         ...       ...              ...
10454  1.507098  2.813551  TCGA-AA-3489-11
10455 -1.664802  1.755251  TCGA-DM-A1D4-01
10456 -1.020902  3.541751  TCGA-QG-A5YV-01
10457 -0.373402 -0.944149  TCGA-CA-5796-01
10458 -0.749702  4.499151  TCGA-G4-6626-01

[10459 rows x 3 columns]